<div class="container">
  <h1 class="text-danger">shopping cart</h1>
  <div class="head-cart">
    <p class="lead">
      you have <label>{{ cart.length }}</label>
      items in your cart
    </p>
    <button class="btn btn-danger" (click)="clearCart()" *ngIf="cart.length !== 0"> Clear shopping cart </button>
  </div>
  <div class="alert alert-danger mt-2" role="alert" *ngIf="cart.length == 0">
  No items in cart
</div>
  <table class="table" *ngIf="cart.length !== 0">
    <thead>
      <tr>
        <th></th>
        <th>name</th>
        <th class="text-start">price</th>
        <th>quantity</th>
        <th>total</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of cart">
      <tr>
        <td>
          <img [src]="item.product.image" alt="product" class="img-fluid" />
        </td>
        <td class="w-25">{{ item.product.title }}</td>
        <td>{{ item.product.price }}</td>
        <td>
          {{ item.quantity }}
        </td>
        <td>{{ item.quantity * item.product.price }}</td>
      </tr>
    </tbody>
  </table>
  <div class="total" *ngIf="cart.length !== 0">
    <p class="lead">
      total price: <label>{{totalPrice}}</label>
    </p>
</div>
