$primary-color: #8B1874;
$secondary-color: #B71375;
.card {
    background: $primary-color;
    img {
        height: 40vh;
    }
    .price{
        background-color: $secondary-color;
        font-weight: bold;
        font-size: 20px;
    }
    .details{
        color:black;
        font-weight: bold;
        font-size: 20px;
    }
}
