<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card mt-5">
        <img  [src]="product.image" alt="Title" />
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-9">
        <div class="card mt-5">
            <div class="card-body">
            <h4 class="card-title fw-bold text-center">{{ product.title }}</h4>
            <p class="card-text lead text-center price">
                {{ product.price | currency }}
            </p>
            <p class="card-text lead text-center details">
                {{ product.description }}
            </p>
            </div>
        </div>
    </div>
  </div>
</div>
