$primary-color: #8B1874;
$secondary-color: #B71375;
$tertiary-color: #FC4F00;
.navbar{
    background:$primary-color ;
    .logo {
        color: $tertiary-color;
    }
    .badge{
        background: #F79540 !important;
    }
    .nav-link{
        font-weight: bold;
        margin: 0px 20px;
        color: $secondary-color;
        &:hover {
                color: #FFFAF4;
            }
    }
    .active{
        color: #FFFAF4;
    }
   
}